<header class="toolbar">
  <h1>
    <a>
      <span class="accent">Joshua</span>
      Sisley
    </a>
  </h1>
  <nav>
    <ul>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Portfolio</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li>
        <i class="fa fa-home"></i>
        <a>Home</a>
      </li>
      <li>
        <i class="fa fa-user"></i>
        <a>About</a>
      </li>
      <li>
        <i class="fa fa-list-alt"></i>
        <a>Portfolio</a>
      </li>
      <li>
        <i class="fa fa-paper-plane"></i>
        <a>Contact</a>
      </li>
    </ul>
  </div>
</header>
